FRCAIXINHA_BACKEND_IMAGE=ghcr.io/fronassor-art/frcaixinha-backend@sha256:d252b8f1e9da032086e56c53e60c8103f43540aa289b954e0e52a2e5ea31519c
FRCAIXINHA_DATA_ROOT=/srv/frcaixinha
FRCAIXINHA_SECRETS_DIR=/srv/frcaixinha/secrets
FRCAIXINHA_POSTGRES_DB=frcaixinha
FRCAIXINHA_POSTGRES_USER=frcaixinha
