FRCAIXINHA_BACKEND_IMAGE=ghcr.io/fronassor-art/frcaixinha-backend@sha256:bf5d5208d833b427eded64e0a59966d98f52931c1065510e5b8db7a7002b41af
FRCAIXINHA_DATA_ROOT=/srv/frcaixinha
FRCAIXINHA_SECRETS_DIR=/srv/frcaixinha/secrets
FRCAIXINHA_POSTGRES_DB=frcaixinha
FRCAIXINHA_POSTGRES_USER=frcaixinha
